/* write your override styles here */

#wall :first-child {
    display: none;
}

#wall :first-child + #tag-2 {
    display: none;
}

div#wall #tag-3.slick.wicked {
    display: none;
}


#wall div.parent #tag-4 {
    display: none;
}

div#wall div.parent>#tag-5.slick {
    display: none;
}

#wall :nth-child(2) {
    display: none;
}

/*not sure where 7 got removed from*/
